# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
functions/venv/
functions/.venv/

# Firebase local
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Sistema/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Variáveis de ambiente
.env
.env.*

# Segredos locais
secrets/
*serviceAccountKey.json
*.key
*.pem
.env
.env.*
