{% extends "base.html" %}

{% block title %}Login - TechChef Dispensa{% endblock %}

{% block content %}

<section>

    <h2>Login</h2>

    <p>
        Acesse o TechChef Dispensa para gerenciar alimentos, usuários,
        configurações e informações da aplicação.
    </p>

    <form method="POST" action="{{ url_for('web.login') }}">

        <div>
            <label for="email">E-mail</label><br>

            <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu e-mail"
                required
            >
        </div>

        <br>

        <div>
            <label for="senha">Senha</label><br>

            <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                required
            >
        </div>

        <br>

        <button type="submit">
            Entrar
        </button>

    </form>

    <p>
        <small>
            Login temporário para teste da navegação. Depois será integrado ao Firebase.
        </small>
    </p>

    <p>
        <a href="{{ url_for('web.sobre') }}">
            Sobre o projeto
        </a>
    </p>

</section>

{% endblock %}